/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/**
 * framework.css
 * Provides generic high level classes and UI elements.
 * Site-specific style should go in main.css.
 *
 * Built on top of Eric Meyer's Reset CSS v2.0
 *
 * @author Giovanni Piller Cottrer
 */

@font-face {
	font-family:'MYFONT';
	src: url(/h5/images/font%2FFrontage-Bold.w_1388678922000hc.otf) format('truetype');
}

html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	background: #fff;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 14px;
	color: #545454;
}
body * {
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-Serif;
}

a:link { color: #007DB3;}/**/
a:visited { color: #007DB3;}/**/
a:hover { color: #007DB3;}/**/
a:active { color: #007DB3;}/**/

/* Utility classes */
.white {color:#FFF;}
.dg, .dg:link, .dg:active, .dg:visited {color: #5C5E5F;}
.w100 {width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w90 {width: 90%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.bb5 .w100 {padding-left: 0 !important; padding-right: 0 !important; width: 100%;}
.w85 {width: 85%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w80 {width: 80%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w70 {width: 69.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w65 {width: 64.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w60 {width: 59.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w50 {width: 49.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w48 {width: 48%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w45 {width: 45%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w40 {width: 39.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w35 {width: 35%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w33 {width: 33.33%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w30 {width: 29.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w25 {width: 25%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w20 {width: 19.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w15 {width: 15%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w10 {width: 10%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w5 {width: 5%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.w4 {width: 4%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.block, .js .showJs {display:block;}
.inline {display:inline;}
.hide, .js .hideJs, .showJs {display:none;}
.tc {text-align:center;}
.tr {text-align:right;}
.tl {text-align:left;}
.fl {float:left;}
.fr {float:right;}
.notd {text-decoration: none;}
.clear {clear:both;}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.box_model {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;} /* to be #minusU */
.standard_box_model {-moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;} /* to be #minusU */
.inputize { -webkit-user-drag:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

/* spacers */
.h_space {margin-bottom: 5px;}
.space {margin-bottom: 10px;}
.spacers {margin: 10px 0;}
.wrap {margin: 0 10px;}
.margins {margin: 10px;}

.padding5 {padding: 5px;}
.paddingNoBottom5 {padding: 5px 5px 0px 5px;}
.paddingNoTop5 {padding: 0px 5px 5px 5px;}
.UNPadTop5 { padding-top: 5px }
.UNPadRight5 { padding-right: 5px; }
.UNPadLeft5	 	{ padding-left: 5px }
.UNPadBottom5 	{ padding-bottom: 5px }

.padding {padding: 10px;}
.paddingNoBottom {padding: 10px 10px 0px 10px;}
.paddingNoTop {padding: 0px 10px 10px 10px;}

.padding15 {padding: 15px;}
.UNPadLeft15 { padding-left: 15px }
.UNPadRight15 	{ padding-right: 15px }
.UNPadTop15 { padding-top: 15px }
.UNPadBottom15 	{ padding-bottom: 15px }

.padding20 {padding: 20px;}
.UNPadLeft20 { padding-left: 20px }
.UNPadRight20 	{ padding-right: 20px }
.UNPadTop20 { padding-top: 20px }
.UNPadBottom20 	{ padding-bottom: 20px }

.UNPadTop	 	{ padding-top: 10px }
.UNPadBottom 	{ padding-bottom: 10px }
.UNPadRight	 	{ padding-right: 10px }
.UNPadLeft	 	{ padding-left: 10px }
.UNHPad			{ padding: 5px }

.UNYeBg {background-color: #FFF5DA;}
.UNWhBg {background-color: #fff;}
.UNGrBg {background-color: #f0f0f0;}

.UNBorYe {border: 1px solid #e5dbc1}
.UNBorGr {border: 1px solid #ccc}
.UNBorTopWhDas {border-top: 1px dashed #fff}
.UNBorRightGr {border-right: 1px solid #ccc}
.UNBorBottomGr {border-bottom: 1px solid #ccc}

.UNCapitalize { text-transform: capitalize }
.UNUppercase { text-transform: uppercase; }
.UNUnderlined {text-decoration: underline !important;}
.UNMyfont, .UNMyfont a {font-family: MYFONT; letter-spacing: -1.2px}
.UNRedColor {color: #da2128;}
.UNLightBlueColor {color: #61ccef;}
.UNBlueColor {color: #009EE0 !important}
.UNBlueLinks a {color: #009EE0 !important; text-decoration: underline !important;}
.UNErrorColor * {color: #C51A1B}

.UNLabelUnderlined label{text-decoration: underline;}

label {
	/*display: inline-block !important;*/
	width: 80%;
}

/* Form & inputs*/
/* we generally use <button> tags rather than <input type="submit"/> */
[disabled], .disabled {opacity:0.6;}

.button, button, .linkput {
	border: 1px solid #ea3d43;
	background: #da2128;
	background: #da2128 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#da2128), to(#ea3d43));
	background: #da2128 -moz-linear-gradient(top, #da2128, #ea3d43);
	background: #da2128 -ms-linear-gradient(top, #da2128 0%, #ea3d43 100%);
	border-radius:0;
	color: #eee;
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	height: 45px;
	line-height: 45px;
	margin:0;
	padding: 0 10px;
	text-align: center;
	vertical-align:middle;
	-webkit-appearance: none;
	text-transform:uppercase;
	letter-spacing: -1.2px;
	font-family: MYFONT;
}

.button:active , button:active, .linkput:active, .button:hover , button:hover, .linkput:hover{
	border: 1px solid #da2128;
	background: #ea3d43;
	background: #ea3d43 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea3d43), to(#da2128));
	background: #ea3d43 -moz-linear-gradient(top, #ea3d43, #da2128);
	background:  -ms-linear-gradient(top, #ea3d43 0%, #da2128 100%);
}

.buttonS, .linkputS {
	border: 1px solid #73dcfc;
	background: #65cdf0;
	background: #65cdf0 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65cdf0), to(#73dcfc));
	background: #65cdf0 -moz-linear-gradient(top, #65cdf0, #73dcfc);
	background:  -ms-linear-gradient(top, #65cdf0 0%, #73dcfc 100%);
	border-radius:2px;
	color: #fff;
	display: inline-block;
	font-family: MYFONT;
	font-size: 12px;
	height: 45px;
	line-height: 45px;
	margin:0;
	padding: 0 10px;
	text-align: center;
	vertical-align:middle;
	-webkit-appearance: none;
	text-transform:uppercase;
}

.buttonS:active, .linkputS:active, .buttonS:hover, .linkputS:hover{
	border: 1px solid #65cdf0;
	background: #73dcfc;
	background: #73dcfc -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73dcfc), to(#65cdf0));
	background: #73dcfc -moz-linear-gradient(top, #73dcfc, #65cdf0);
	background:  -ms-linear-gradient(top, #73dcfc 0%, #65cdf0 100%);
}

/*.button:active, button:active {-webkit-transition: all 50ms linear; -webkit-transform: scale(.98, .98);}*/

.buttonY {
	background: #FED831;
	border: 1px solid #e0e0e0;
	color: #fff !important;
	font-family: MYFONT;
	font-size: 12px !important;
	letter-spacing: -1px;
	height: 45px;
	line-height: 49px;
	margin:0;
	padding: 0px 10px 0px 10px;
	text-align: center;
	vertical-align:middle;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	-webkit-appearance: none;
}

.buttonY:hover{
	border: 1px solid #e0e0e0;
	background: #FED831;
}

.secondary {
	background: #FED831;
	border: 1px solid #e0e0e0;
	color: #fff !important;
	font-family: MYFONT;
	font-size: 10px;
	letter-spacing: -1px;
	height: 28px;
	line-height: 30px;
	margin:0;
	padding: 2px 10px 0px 10px;
	text-align: center;
	vertical-align:middle;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
}

.secondary:after{
	background: url(/h5/images/email.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 22px;
	width: 22px;
	margin-top: 2px;
	margin-left: 5px;
}

.transparent {
	background: transparent;
	color: #e20074;
}

a.button:link, a.button:visited,  a.button:hover,  a.button:active, a.buttonS:link, a.buttonS:visited,  a.buttonS:hover,  a.buttonS:active {
	color: #FFF;
	text-decoration: none;
}

a.buttonY:link, a.buttonY:visited,  a.buttonY:hover,  a.buttonY:active { color: #545454; display:block; font-size: 14px; text-transform:uppercase;}
a.secondary:link, a.secondary:visited,  a.secondary:hover,  a.secondary:active { color: #545454; display:block; font-size: 14px; text-transform:uppercase;}
a.transparent:link, a.transparent:visited,  a.transparent:hover,  a.transparent:active { color: #e20074; }

.linkput {
	text-align: left;
	text-decoration: none;
}

.textfield {
	border: 1px solid #e0e0e0;
	border-radius:0px;
	color: #333;
	height: 38px;
	margin:0;
	padding: 5px;
	-webkit-appearance: none;
	vertical-align:bottom;
}
.textfield.plain {
	border: 0;
	height: 30px;
}

textarea {
	border: 1px solid #e0e0e0;
	border-radius:0;
	display: block;
	margin:0;
	min-height: 8em;
	line-height: 1.6em;
	padding: 5px;
	-webkit-appearance: none;
}

/*windows phone fix*/
select::-ms-expand
{
    background: #fff url(/h5/images/icon_dropdown.w_1388678923000hc.png) no-repeat center center;
    border: 0px;
    width: 25px;
    color: transparent;
}
/*windows phone fix*/
select {
	background: #fff url(/h5/images/icon_dropdown.w_1388678923000hc.png) no-repeat 97% center; /* or */
	background-size: 18px 38px;
	-webkit-background-size: 18px 38px;
	border: 1px solid #e0e0e0;
	border-radius:2px;
	color: #5C5E5F;
	
	height: 38px;
	padding: 0 5px;
	padding-right: 30px;
	text-shadow: 1px 1px 0 #EBEBEB;
	vertical-align: middle;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* new box model */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select#selectToSubmit {
	background-image: none;
	direction: rtl;
	padding-right: 10px;
	text-transform: uppercase;
}

select.error{
	background: #ffeff5 url(/h5/images/icon_dropdown.w_1388678923000hc.png) no-repeat 97% center !important;
}

.ie75 select{
	background: #fff;
	padding-right: 0px;
}

option {line-height:30px;}

.ie select {background-image: none; padding-right: 5px;}

.bb5 select {
	background: none;
	height: 1.4em;
}

.async-update {
	opacity: .7;
	pointer-events: none;
}

.desc {
	color: #999;
	font-size: 0.9em;
	font-style: italic;
	padding: 5px 0;
	text-align: right;
}

/* Global UI components and helpers */
p {padding-bottom: 1em;}

/* Heading with button */
/*.heading_button .button, .heading_button select {
	font-size:  12px;
	height: 25px;
	line-height: 25px;
	min-width: 50px;
}*/

h1, .h1 {
	font-family: MYFONT;
	font-size: 12px;
	line-height: 14px;
	color: #5C5E5F;
}

.subMenuTitles h1{
	text-transform:uppercase;
}

h2, .h2 {
	color: #5C5E5F;
	font-size: 13px;
	font-weight: bold;
}

.original h2{
	padding-bottom: 10px;
}

.borderPromotionsBox h2{
	font-family: MYFONT;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -1.2px;
	color: #5C5E5F;
	margin-bottom: 10px;
}

/*.required_text {
	color: #898989;
	font-size: 11px;
}*/

h3, .h3 {
	border-bottom: 1px solid #999;
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 10px;
}

/* usually used with product name on PLP */
h4, .h4, a.h4 {
	color: #5C5E5F;
	display: block;
	font-size: 13px;
	line-height: 20px;
	padding: 3px 0;
	text-decoration:none;
}

h5, .h5 {
	background: #EBEBEB;
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 5px;
}

/*.h_desc {
	color: #5C5E5F;
	font-size: 11px;
	font-style: italic;
}*/

strong, .strong, b {font-weight:bold;}
i, em, .em {font-style: italic;}

hr {
	border: 0;
	border-bottom: 1px solid #CCC;
	display: block;
	margin: 10px auto;
}

hr.bg_separator {
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

hr.spacer {border-bottom:0; margin: 20px 0;}

.list {margin-bottom: 1em;}
.list li {
	color: #5C5E5F;
	list-style-type:square;
	margin-left: 2em;
}
ol.list li {list-style-type:decimal;}

blockquote {
	background: #FFF url(/h5/images/quote_left.gif) no-repeat left top;
	color: #5C5E5F;
	font-style: italic;
	padding-left: 35px;
}

cite {display:block; font-weight: bold; margin-top: 1em;}

/*.welcome_message {
	background: #E1F4F4;
	color: #5C5E5F;
	font-size: 12px;
	line-height: 25px;
	padding: 0 10px;
}

.promo_message {
	color: #5C5E5F;
	display: block;
	font-size: 12px;
	line-height: 25px;
	text-align:center;
	text-decoration: none;
}
*/
/*.promo_message {
	background: #E1F4F4;
	color: #5C5E5F;
	font-size: 12px;
	line-height: 25px;
	text-align:center;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}*/

.error{
	border: 1px solid #AA0721;
	background: #ffeff5;
}

select.error{
	background: #ffeff5 url(/h5/images/blue-dropdown.png) no-repeat right center;
	background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
}

/*.error_message, .warning_message, .success_message, .info_message {
	line-height: 1.6em;
	padding: 10px;
}

.error_message {
	border: 1px solid #AA0721;
	background: #ffeff5;
	color: #AA0721;
}

.warning_message {
	background: #ffffe1;
	color: #676606;
}

.success_message {
	background: rgb(220,240,240);
	color: rgb(59,185,191);
}

.info_message {
	background: #EBEBEB;
	color: #5C5E5F;
}

.info {
	background: #EBEBEB;
	color: #5C5E5F;
	padding: 10px;
}

.intro {
	padding: 10px;
	color: #5C5E5F;
}

.link {
	background: none;
	border: inherit;
	color: inherit;
	display: inline;
	font-size: 1em;
	font-weight: normal;
	height: 1.4em;
	line-height: 1em;
	padding: 0;
	text-decoration: underline;
	vertical-align: top;
	-webkit-appearance: none;
}*/

.divPanelOverlay {
    top: 0 !important;
}

.panel {
	display:none;
	margin:5%;
	width: 90%;
	z-index: 600001 !important;
}

.modal {
	background: #FFF;
	border: 2px solid #999;
}

/*.modal_h {
	background: #E1F4F4;
	color: #5C5E5F;
	font-family: Georgia, Times, serif;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	padding: 10px;
}

.modal_c {
	padding: 10px;
}*/
.hasFixed.overflowScroll .scrollable {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.overflowScroll body[landscape] .scrollable {
	height: auto !important;
	overflow: visible;
	-webkit-overflow-scrolling: none;
}

.no-js .modal_close {
	display:none;
}
.modal_close {
	float:right;
	height: 20px;
}
.modal_close img {height:inherit;}

.expand_block_container{
	border-bottom: 1px dashed #ccc;
}

.locationExpand{
	display: block;
	padding: 10px;
	line-height: 24px;
	border-top: 1px dashed #ccc;
	border-radius:0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #666 !important;
}

.locationExpand:before{
	background: url(/h5/images/Grey_Chevron.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	width: 7px;
    height: 34px;
	line-height: 34px;
	margin-top: -5px;
}

.expand_block {
	border-top: 1px dashed #ccc;
	border-radius:0px;
	line-height: 24px;
	 -webkit-user-drag:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.expanded:before, .expand_block:before {
	background: url(/h5/images/Plus.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
    display: inline-block;
	float: right;
	font-weight: bold;
	width: 10px;
    height: 44px;
	line-height: 44px;
	margin-right: 9px;
}
.expanded:before {
	background: url(/h5/images/Minus.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.expand_toggle, a.expand_toggle {
	color: #666;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	font-size: 12px;
	font-weight: bold;
}
.expand_toggle{
	cursor: pointer;
}
.expand_content {
	border-top: 1px dashed #ccc;
	display:none;
	line-height: 16px;
}
.expanded .expand_content {display:block;}
.bb5 .expand_block:before {content: "";}
.bb5 .expand_content {display:block;}

/*.interactive_link, a.interactive_link, .internal_link, a.internal_link {
	border: 2px solid #545454;
	border-radius:3px;
	color: #000;
	display: block;
	line-height: 18px;
	margin: 10px 0;
	padding: 8px 10px;
	padding-right: 30px;
	text-decoration: none;
}

.interactive_link, a.interactive_link {
	background: #FFF url(/h5/images/arrow_pale_right.png) no-repeat 96.5% center;
	-webkit-background-size: 11px 6px;
	background-size: 6px 11px;
}*/

.overlay {
	background: #000;
	opacity: 0.75;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 600000;
    top: 0;
    display: none;
}

/* CSS-only images preloading. Keep adding url(path) to preload more images. */
body:after
{
	content: url(/h5/images/Plus.w_1388678923000hc.png)
			 url(/h5/images/Minus.w_1388678923000hc.png)
			 url(/h5/images/Grey_Chevron.w_1388678923000hc.png)
			 url(/h5/images/Grey_Chevro_small.w_1388678923000hc.png)
			 url(/h5/images/Grey_Chevron_back.w_1388678923000hc.png)
			 url(/h5/images/Logo.w_1388678923000hc.png)
			 url(/h5/images/Menu.w_1388678923000hc.png)
			 url(/h5/images/Search.w_1388678923000hc.png)
			 url(/h5/images/Twitter.w_1388678923000hc.png)
			 url(/h5/images/Youtube.w_1388678923000hc.png)
			 url(/h5/images/Facebook.w_1388678923000hc.png)
			 url(/h5/images/dot.w_1388678923000hc.png)
			 url(/h5/images/dot2.w_1388678923000hc.png)
			 url(/h5/images/Butlins_static_Banner.w_1389087576000hc.png)
			 url(/h5/images/callQuote.w_1388678923000hc.png);
	display:none;
}









/* Site specific classes */

.loader {
	display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 600001;
    top: 0;
}
.offscreen {
	position: relative;
	left: -10000px;
}

/**/
.u_loading-logo {
	border-radius: 10px;
	/* required for Galaxy S4's stock browser - start */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* required for Galaxy S4 - end */
	height: 60px;
	margin: 0 auto;
	margin-top: 40%;
	overflow: hidden;
	width: 130px;
	text-align: center;
}

body[landscape] .u_loading-logo{
	margin-top: 20%;
}

.u_loading {
	height: 3px;
	/*background-color: #d3202b;*/
	margin: 0 auto;
	margin-top: 0;
	overflow: hidden;
	width: 100%;
}

.u_loading-pan { 
	background: #d3202b;
	height: inherit;
	overflow: hidden;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
.u_loading-logo img {
	margin: 10px 8px;
	height: 40px;
}

.u_loading_img {
	margin: 10px;
	position: relative;
	overflow: hidden;
	width:0%;
	-webkit-transition: width 6s cubic-bezier(0.2, 0.5, 0.5, 1);
	-ms-transition: width 6s cubic-bezier(0.2, 0.5, 0.5, 1);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.u_loading_bar {
	background: #d3202b;
	-webkit-background-size: 30px;
	background-size: 30px;
	height: inherit;
	overflow: hidden;
	width:0%;
	-webkit-transition: width 6s cubic-bezier(0.2, 0.5, 0.5, 1);
	-ms-transition: width 6s cubic-bezier(0.2, 0.5, 0.5, 1);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
/**/
.partial .u_loading_bar, .partial .u_loading_img {width:90%;}
.complete .u_loading_bar, .complete .u_loading_img {
	width:100%;
	-webkit-transition: width 0.2s linear;
	-ms-transition: width 0.2s linear;
}


/*.secure {
	background: url(/h5/images/padlock_icon.png) no-repeat left 5px;
	-webkit-background-size: 13px 15px;
	background-size: 13px 15px;
	color: #5C5E5F;
	line-height: 20px;
	display: block;
	padding: 5px 0 5px 20px;
}*/

aside {
	background: #fff;
	color: #545454;
	font-size: 13px;
}

/* sliding menu >> */
.global_menu aside {display:none;}
.hasFixed .global_menu aside {/**/
	display: block;
	width: 84%;
	opacity: 0;
	max-height: 100%;
	-webkit-transition: opacity linear 1000ms;
	overflow:hidden;
	position:fixed;
	top:0;
	z-index: 1;
}

/* WP fix: links are tappable even behinde multiple divs*/
.ie.hasFixed .global_menu aside {display:none;}

.hasFixed .slide_menu .global_menu aside {
	display:block;
	max-height: auto;
	opacity: 1;
	-webkit-transition: opacity linear 0;
	overflow:visible;
	position:relative;
}

.hasFixed .main_wrapper {
	background: #999;
	/*left: 0;
	min-height: 100%;
	position:absolute;
	top: 0;
	-webkit-transition: left linear 200ms;
	width: 100%;
	z-index: 2;*/
}
.hasFixed .slide_menu .main_wrapper {/**/
	height: 100%;
	left: 84%;
	position:fixed;
	top: 0;
	width: 100%;
}

.hasFixed .main_header, .hasFixed .overlay, .hasFixed .storeTypeBox {left: 0; -webkit-transition: left linear 200ms; max-height: 100%;}
.hasFixed .slide_menu .main_header, .hasFixed .slide_menu .overlay, .hasFixed .slide_menu .storeTypeBox {left: 84%;}/**/

/* 
Avoids accidental touches on the slided area by covering it.
Tapping it will hide the menu, and show the main content area.
 */
.hasFixed .slide_menu .slided_overlay {
	height: 100%;
	left: 80%;
	position: fixed;
	top: 0;
	width:100%;
	z-index: 1000;
	 -webkit-user-drag:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
/* << sliding menu */

.resultArrow {
	display: block;
	background: url(/h5/images/Grey_Chevro_small.w_1388678923000hc.png) no-repeat 97% center;
	text-decoration: none;
	color: #666 !important; 
}

.resultArrow2 {
	background: #effbfc;
	padding: 10px;
	display: block;
	color: #65cdf0 !important;
	font-size: 12px;
}

.resultArrow2:after {
	background: url(/h5/images/Blue_Chevron.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: right;
	height: 16px;
	width: 7px;
}

.menuBottomLinks a:after, .homeBottomLinks a:after, .myAccountLinks a:after{
	background: url(/h5/images/Grey_Chevron.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: right;
	height: 16px;
	width: 7px;
	margin-top: -1px;
}
.menuBottomLinks a:after{
	margin-right: -20px;
}

.myAccountBackLink a:before{
	background: url(/h5/images/Grey_Chevron_back.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: left;
	height: 16px;
	width: 7px;
	margin-top: -2px;      /*BTLNSMM-1006*/
	margin-right: 10px;
}

.homeBottomLinks a:after, .myAccountLinks a:after, .myAccountBackLink a:after{
	margin-top: -3px;
}

.menuBottomLinks a:before{
	background: url(/h5/images/menu%2FSpecial_Offers.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: left;
	height: 22px;
	margin-top: -5px;
	margin-right: 10px;
	width: 22px;
}

/*BTLNSMM-468*/
/*.menuBottomLinks a.menuLink1:before{
	background: url(/h5/images/menu%2FOrder_Your_Free_Brochure.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}*/

/*.menuBottomLinks a.menuLink2:before, .menuBottomLinks a.menuLink3:before{
	background: url(/h5/images/menu%2FAdult_Music_Weekend.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin-top: 0px;
}
.menuBottomLinks a.menuLink2:after, .menuBottomLinks a.menuLink3:after {
	margin-top: -7px;
}*/

.menuBottomLinks a.menuLink3:before{
	background: url(/h5/images/menu%2FAdult_Music_Weekend.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.menuBottomLinks a.menuLink4:before{
	background: url(/h5/images/menu%2FConferences_Events.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.menuBottomLinks a.menuLink2:before{
	background: url(/h5/images/menu%2FContact_Us.w_1388678922000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 14px;
	margin-right: 13px;
	margin-left: 5px;
}
/*BTLNSMM-468*/

.menuBottomLinks a.menuLinkLogin:before{
	background: url(/h5/images/menu%2FMyAccount.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 22px;
	margin-right: 10px;
	margin-left: 1px;
}

.menuBottomLinks a.menuLinkNoImg:before{
	background: none;
	content: " ";
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 14px;
	margin-right: 13px;
	margin-left: 5px;
}

.fakeMenuLink{
	padding: 20px;
	height: 14px;
	line-height: 14px;
}
.fakeMenuLink:before{
	background: url(/h5/images/menu%2FMyAccount.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: left;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	margin-left: 1px;
	margin-top: -4px;
}

.onMenu:before {
	background: url(/h5/images/Plus.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
    display: inline-block;
	float: right;
	font-weight: bold;
	width: 10px;
    height: 54px;
	line-height: 54px;
	margin-right: 19px;
}
.onMenu.expanded:before {
	background: url(/h5/images/Minus.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}


.backMenu{
	padding: 10px 0px;
}

.backMenu a{
	font-size: 14px;
	padding: 10px;
	display: block;
	text-transform: uppercase;
	color: #db0019 !important;
}

.backMenu a:before{
	background: url(/h5/images/Red_Chevron_back.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: left;
	height: 16px;
	margin-right: 10px;
	margin-top: -2px;
	width: 9px;
}

.subMenuLink{
	padding: 10px;
	text-transform: uppercase;
	display: block; 
	font-weight: bold;
	font-size: 12px;
}

.side_menu {
	border-right: 2px solid #fff;
}

/*.links_menu .menu_icon:after{
	background: url(/h5/images/navigation.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: right;
	height: 35px;
	margin-right: 5px;
	width: 14px;
}

.links_menu .show_more:after{
	background: url(/h5/images/expand.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.links_menu .expandedSub .show_more:after{
	background: url(/h5/images/collapse.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}*/

/*.links_menu .menu_icon:before {
	background: url(/h5/images/profile_active.png) no-repeat center center;
	-webkit-background-size: 22px;
	background-size: 22px;
	content: "";
	display: block;
	float: left;
	height: 35px;
	margin-right: 10px;
	width: 25px;
}
.links_menu .show_sendmoney:before { background-image: url(/h5/images/send_active.png); }
.links_menu .contactUs:before { background-image: url(/h5/images/icon_contact_us.png); }
.links_menu .show_more:before { background-image: url(/h5/images/more_active.png); }
.links_menu .locator:before { background-image: url(/h5/images/location_active.png); }
.links_menu .getCard:before { background-image: url(/h5/images/icon_getacard.png); } 
.links_menu .show_addmoney:before { background-image: url(/h5/images/add_active.png); }
.links_menu .activateCard:before, .links_menu .show_toltip_login:before { background-image: url(/h5/images/card_account_active.png); }
.links_menu .billPay:before { background-image: url(/h5/images/bill_payment_active.png); }
.links_menu .account:before { background-image: url(/h5/images/card_account_active.png); }*/

/*.account:before {
	background-image: url(/h5/images/my_account.png);
	-webkit-background-size: 25px;
	background-size: 25px;
}
.locator:before {
	background-image: url(/h5/images/locator_icon.png);
	-webkit-background-size: 22px;
	background-size: 22px;
}
.about:before {
	background-image: url(/h5/images/about_us.png);
	-webkit-background-size: 22px;
	background-size: 22px;
}
.help:before {
	background-image: url(/h5/images/help_icon.png);
	-webkit-background-size: 22px;
	background-size: 22px;
}*/

.subMenuBack a:before {/**/
	background-image: url(/h5/images/left-arrow-inactive-rd.png);
	-webkit-background-size: 22px;
	background-size: 22px;
}

/*.menu_category, a.menu_category, a.menu_back {
	background: #FFF;
	background: rgba(255,255,255,0.7);
	color: #5C5E5F;
	display: block;
	margin-top: 8px;
	padding: 10px;
	text-decoration: none;
}*/

.menu_category { margin: 10px 0;}
a.menu_back {
	display: block;
}

.nav_message {
	line-height: 1.5em;
	padding: 10px 20px;
	width: 80%;
}

.phone, .phone a {color: #666 !important; text-decoration: none !important;}

.borderPromotionsBox a {color: #666; text-decoration: none;}

.main {
	background: #FFF;
}
article, .article {
	padding-bottom: 1px; /* fixes margin collapsing (px removed using negative margin-top in the footer) */
}

.main_header, .main_footer, .bottomFooter {/**/
	text-align: center;
}

.main_header {/**/
	background: #FFF;
	height: 51px;
	width: 100%;
}
/*.main_header > div {padding: 0 10px;}*/
.hasFixed .main_header {/**/
	background: rgba(255,255,255,.9);
	position:fixed;
	top:0;
	z-index: 500000;
}
.hasFixed article, .hasFixed .article {
	padding-top: 50px;
}
.hasFixed .panel { margin-top: 30px }
/*.hasFixed.overflowScroll .panel {
	height: 50% !important;
	position:fixed;
}*/

.logo {/**/
	height: 50px;
	padding-top: 2px;
}

.cont_menu a, .cont_search a, .cont_logo a {/**/
	display: block;
	line-height: 0px !important;
	height: 45px;
	padding-top: 5px;
	color: #545454;
}

.cont_search a{
	height: 48px;
	padding-top: 2px;
}

.cont_logo a {
	height: 43px;
	padding-top: 7px;
}

.cont_menu div{
	border-right: 1px solid #f1f0f0
}

.cont_search div{
	border-left: 1px solid #f1f0f0
}
 
.cont_search img{/**/
	height: 24px;
	width: 24px;
	margin-top: 12px;
}

.cont_menu img{
	height: 30px;
  width: 55px;
  margin-top: 8px;
}

.cont_logo img{
	height: 27px;
	margin-top: 1px;
}

/*.headerContent {
	border-bottom: 1px solid #ccc;
}*/

.headerSeparator{
	height: 1px;
	background: #ccc;
	background: -moz-linear-gradient(left, #e6e6e6 0%, #c7c7c7 35%, #888 50%, #c7c7c7 75%, #e6e6e6 100%);
   	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e6e6e6), color-stop(35%,#c7c7c7), color-stop(50%,#aaa), color-stop(75%,#c7c7c7), color-stop(100%,#e6e6e6));
   	background:  -ms-linear-gradient(left, #e6e6e6 0%, #c7c7c7 35%, #aaa 50%, #c7c7c7 75%, #e6e6e6 100%);
}

.headerSeparator2{
	height: 1px;
	background: #ccc;
	background: -moz-linear-gradient(left, #fff 0%, #c7c7c7 35%, #aaa 50%, #c7c7c7 75%, #fff 100%);
   	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff), color-stop(35%,#c7c7c7), color-stop(50%,#aaa), color-stop(75%,#c7c7c7), color-stop(100%,#fff));
   	background:  -ms-linear-gradient(left, #fff 0%, #c7c7c7 35%, #aaa 50%, #c7c7c7 75%, #fff 100%);
}

.cont_menu, .cont_search {/**/
	height: 50px;
    width: 70px;
}

.unTableVA {/**/
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-width: 0px;
    width: 100%;
}
.unTableVA td {/**/
    padding: 0px;
    vertical-align: middle;
}

.logo_img {/**/
	height: 0px;
	line-height: 0px;
}

/*search*/
.searchInput{
	border: 0px;
	background: #fff;
	height: 24px;
	width: 24px;
	-webkit-appearance: none;
}

.searchInputBox{
	padding-top: 6px;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 0px;
	height: 30px;
}

.closeSearch{
	width: 25px;
}
/*search*/

.menuBox {/**/
	width:90%;
	left: -100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform linear 150ms;
	-webkit-perspective: 1000;
}

.open_menu .menuBox {/**/
	width:90%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform linear 150ms;
	-webkit-perspective: 1000;
}

.searchBox {/**/
	top: -500px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform linear 150ms;
	-webkit-perspective: 1000;
}

.open_search .searchBox {/**/
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform linear 150ms;
	-webkit-perspective: 1000;
}

.searchBoxInner{
	background: #fff;
	border: 1px solid #ccc;
}

.miniPanel{/**/
	width: 100%;
	display: none;
	background: #000;
	opacity: 0.75;
}

/* footer */
.main_footer {
	border-top: 1px solid #2a2a2a;
	margin-top: -1px; /* fixes margin collapsing (we have padding-bottom:1px for the main content) */
}

.main_footer_content{
	font-size: 12px;
	color: #545454;
	background-color: #2a2a2a;
}

.main_footer a{
	color: #545454;
}

.main_footer a:active,.main_footer a:hover{
	color: #4c4c4c;
}

.main_footer_line{
	background: #686868;
	height: 1px;
}

.main_footer_dashed {
	border-right: 1px dashed #666;
	padding: 5px 10px 5px 10px;
}

.main_footer_dashed a{
	display: block;
	line-height: 0px !important;
}

.bottomCopy{
	background-color: #262626;
	padding: 10px 10px 0px 10px;
	font-size: 10px;
	line-height: 10px;
	color: #969696;
}

.bottomCopy a, .bottomCopy a:active, .bottomCopy a:hover, .bottomCopy a:visited, .bottomCopy a:link{
	text-transform: uppercase;
	color: #969696;
	font-size: 10px;
	text-decoration: underline;
	font-weight: bold;
}

/* home links */

.UNRedBold {
	font-family: MYFONT;
	letter-spacing: -1.2px;
	text-decoration: none;
	font-size: 12px;
	color: #DF0000 !important;
}

/*.homePromotions a, .homePromotions a:active, .homePromotions a:hover, .homePromotions a:visited, .homePromotions a:link{
	font-family: MYFONT;
	letter-spacing: 1.2px;
	text-decoration: none;
	font-size: 12px;
	color: #da2128;
}*/

.homePromotions img{
	width: 100%;
}

.homePromotions td{
	vertical-align: top;
}

.homePromotions{
	font-size: 10px;
	color: #999;
}

.homePromotions strong{
	font-size: 10px;
}

.borderPromotionsBox, .borderPromotionsBoxExtra{
	border: 1px solid #e8dfc5;
	box-shadow: 0px 0px 6px #888888;
}

.borderPromotionsBox li {
	color: #999;
}

.homeBottomLinks, .myAccountLinks, .myAccountBackLink{
	border-bottom: 1px dashed #666;
}

/* BTLNSMM-900 */
/*.expand_content a{ 
	color: #666;
	text-decoration: none;
}*/

.homeBottomLinks a, .menuBottomLinks a, .myAccountLinks a, .myAccountBackLink a {
	background: #fff;
	padding: 20px;
	border-top: 1px dashed #666;
	color: #666;
	display: block;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
.menuBottomLinks a{
	padding-right: 40px;
}

.homeBottomLinks a, .myAccountLinks a, .myAccountBackLink a{
	padding: 18px 12px 14px 12px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: MYFONT;
	font-size: 11px;
	letter-spacing: 0px;
}

.title_locations {
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 8px 0px 4px 0px;
}

.UNContactUs, .UNContactUs:visited, .UNContactUs:link{
	padding: 14px 13px 12px 13px;
	background: #fed831;
	background: #fed831 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ffd20a), to(#fed831));
	background: #fed831 -moz-linear-gradient(top, #ffd20a, #fed831);
	background: #fed831 -ms-linear-gradient(top, #ffd20a 0%, #fed831 100%);
	border: 1px solid #fed831;
	color: #eeeeee !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
}

.UNRedLinks, .UNRedLinks:visited, .UNRedLinks:link{
	padding: 14px 13px 12px 13px;
	background: #da2128;
	background: #da2128 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#da2128), to(#ea3d43));
	background: #da2128 -moz-linear-gradient(top, #da2128, #ea3d43);
	background: #da2128 -ms-linear-gradient(top, #da2128 0%, #ea3d43 100%);
	color: #eee !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	/*letter-spacing: -1.2px;*/
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
}

.UNCallQuote, .UNCallQuote:visited, .UNCallQuote:link,
.UNCallQuoteMenu, .UNCallQuoteMenu:visited, .UNCallQuoteMenu:link,
.UNCallQuotePromotions, .UNCallQuotePromotions:visited, .UNCallQuotePromotions:link,
.UNCallQuotePromotionsMenu, .UNCallQuotePromotionsMenu:visited, .UNCallQuotePromotionsMenu:link{
	padding: 10px;
	background: #da2128;
	background: #da2128 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#da2128), to(#ea3d43));
	background: #da2128 -moz-linear-gradient(top, #da2128, #ea3d43);
	background: #da2128 -ms-linear-gradient(top, #da2128 0%, #ea3d43 100%);
	color: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
}

.UNCallQuote, .UNCallQuote:visited, .UNCallQuote:link,
.UNCallQuoteMenu, .UNCallQuoteMenu:visited, .UNCallQuoteMenu:link,
.UNCallQuotePromotions, .UNCallQuotePromotions:visited, .UNCallQuotePromotions:link,
.UNRedLinks, .UNRedLinks:visited, .UNRedLinks:link,
.UNCallQuotePromotionsMenu, .UNCallQuotePromotionsMenu:visited, .UNCallQuotePromotionsMenu:link,
.UNContactUs, .UNContactUs:visited, .UNContactUs:link,
.homeButtons{display: block;}

.UNCallQuote:active, .UNCallQuote:hover, .UNCallQuoteMenu:active, .UNCallQuoteMenu:hover,
.UNCallQuotePromotions:active, .UNCallQuotePromotions:hover,
.UNRedLinks:active, .UNRedLinks:hover{
	background: #ea3d43;
	background: #ea3d43 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ea3d43), to(#da2128));
	background: #ea3d43 -moz-linear-gradient(top, #ea3d43, #da2128);
	background: #ea3d43 -ms-linear-gradient(top, #ea3d43 0%, #da2128 100%);
}

.UNCallQuote:after, .UNCallQuoteMenu:after {
	background: url(/h5/images/callQuote.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 22px;
	width: 14px;
	margin-top: -4px;
	margin-right: 10%;
	margin-left: -10%;
}

.UNCallQuoteMenu:after{
	margin-right: 7%;
	margin-left: -7%;
}

.UNCallQuotePromotions:after{
	background: url(/h5/images/callQuote.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 22px;
	width: 14px;
	margin-top: -6px;
	margin-right: 6%;
	margin-left: -6%;
}

.homeButtons{
	padding: 14px 13px 12px 13px;
	color: #eee !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
}

.homeButtons:after{
	background: url(/h5/images/WhiteArrow.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 12px;
	width: 6px;
	margin-top: 1px;
	margin-right: 0%;
	margin-left: -6%;
}
/* search expand */
.searchExpand{margin-bottom: 10px;}
.searchExpand .expand_toggle{
	padding: 11px 10px 9px 10px;
	border: 1px solid #80c674;
	background: #80c674;
	background: #80c674 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80c674), to(#72c264));
	background: #80c674 -moz-linear-gradient(top, #80c674, #72c264);
	background:  -ms-linear-gradient(top, #80c674 0%, #72c264 100%);
	color: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	letter-spacing: -1.8px;
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
	border: none;
}
.searchExpand .expand_block, .searchExpand .expand_block_container{border: none;}
.searchExpand .expand_content{border: none; background: white; margin-top: 10px;}
.searchExpand .expanded:before, .searchExpand .expand_block:before{
	background: url(/h5/images/WhitePlus.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
    display: inline-block;
	float: right;
	font-weight: bold;
	width: 10px;
    height: 44px;
	line-height: 44px;
	margin-right: 9px;
}
.searchExpand .expanded:before {
	background: url(/h5/images/White_Minus_Icon.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.searchExpand select{margin-bottom: 10px;}
.searchExpand button{line-height: 40px; height: 40px;border-radius:2px;}
/* end search expand */

label.unLabel{
	color: #999;
	padding-bottom: 5px;
	display: block;
}

.UNCallQuotePromotionsMenu:after{
	background: url(/h5/images/callQuote.w_1388678923000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 22px;
	width: 14px;
	margin-top: -10px;
	margin-right: 6%;
	margin-left: -6%;
}

.UNCallQuotePromotionsS, .UNCallQuotePromotionsS:visited, .UNCallQuotePromotionsS:link {
	padding: 10px;
	border: 1px solid #73dcfc;
	background: #65cdf0;
	background: #65cdf0 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65cdf0), to(#73dcfc));
	background: #65cdf0 -moz-linear-gradient(top, #65cdf0, #73dcfc);
	background:  -ms-linear-gradient(top, #65cdf0 0%, #73dcfc 100%);
	color: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:2px;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
}

.UNCallQuotePromotionsS, .UNCallQuotePromotionsS:visited, .UNCallQuotePromotionsS:link{display: block;}

.UNCallQuotePromotionsS:active, .UNCallQuotePromotionsS:hover {
	border: 1px solid #65cdf0;
	background: #73dcfc;
	background: #73dcfc -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73dcfc), to(#65cdf0));
	background: #73dcfc -moz-linear-gradient(top, #73dcfc, #65cdf0);
	background:  -ms-linear-gradient(top, #73dcfc 0%, #65cdf0 100%);
}

.UNCallQuotePromotionsS:after{
	background: url(/h5/images/mouse.w_1391614013000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	float: right;
	height: 15px;
	width: 10px;
	margin-top: -15px;
	margin-right: 6%;
	margin-left: -5%;
}
*/
body[landscape] .UNCallQuote:after {
	margin-right: 30%;
	margin-left: -30%;
}

body[landscape] .UNCallQuoteMenu:after {
	margin-right: 25%;
	margin-left: -25%;
}

.UNCallQuoteMenu:after{
	margin-right: 9%;
}

/**
 * Panel UI ...
 *
**/

.close_panel_image{
	width: 24px;
}

.UNPanelPane {
	background-color: #fff;
	/*border-radius: 5px;*/
	border: 2px solid #e0e0e0;
}

.UNPanelHead {
	position: relative;
	top: 20px;
}
.UNClosePane {
	float: right;
	position: relative;
	top: -6px;
	left: 9px;
	background-color: #333;
	padding: 5px 9px 6px;
	border-radius:1000px;
	/* required for Galaxy S4's stock browser >> */
	border-top-left-radius: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-left-radius: 1000px;
	border-bottom-right-radius: 1000px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.UNBall{
	padding: 2px 6px 3px;
	border-radius:1000px;
	/* required for Galaxy S4's stock browser >> */
	border-top-left-radius: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-left-radius: 1000px;
	border-bottom-right-radius: 1000px;
	color: #fff;
	background-color: #333;
}

/**
 * Main Settings
 * Define main classes ...
**/

.UNLoginDebug {
	position: absolute;
	z-index: 600000;
	display: inline-block;
	top: 0;
	left: 20%;
	background-color: #000;
	opacity: .8;
	padding: 2px 5px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
}
.UNMain { background-color: #f4f4f6 }
.UNBorderedWrapper {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius:3px;
}
.UNBorderedSepTop 		{ border-top: 1px solid #e0e0e0 }
.UNBorderedSepBottom 	{ border-bottom: 1px solid #e0e0e0 }

/* Carousel */
.carouselBulletsContainer{
	margin-top: -20px;
	position: relative;
	bottom: 0px;
	text-align:center;
}
.carouselBullets {
	display: inline-block;
	padding: 5px 65px;
	background: #db0006;
	background: -moz-linear-gradient(left, transparent 0%, #2b2b2b 50%, transparent 100%);
   	background: -webkit-gradient(linear, left top, right top, color-stop(0%,transparent), color-stop(50%,#2b2b2b), color-stop(100%,transparent));
   	background: -ms-linear-gradient(left, transparent 0%, #2b2b2b 50%, transparent 100%);
	border-radius: 3px;
	line-height: 0px;
	
}
.carouselBullets img {
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.carouselBullets img:first-child { margin-left: 0 }


.slide 			{ display: block }
.hide, .jshide 	{ display: none }
#homepage_top 	{ border-bottom: 1px solid #ccc; min-height: 110px; }
.carouselHomePage {min-height: 192.0px;}
.no-js #homepage_top {display: none;}

/**
 * Full site compatibility classes
 *
 * .original should be used to properly style content pulled directly from full site
 * (example: on full site, some <li> are supposed to have a bottom margin)
*/
.original li {
	margin-bottom: 1em;
}
.original ul li {
	list-style-type:square;
	margin-left: 15px;
}

.original ol li {
	list-style-type:decimal;
	margin-left: 15px;
}

.original li ul li {
	margin-bottom: 0px;
}

#panelizeContainer, #panelizeContainerPWD, #panelizeContainerPIN{ display:none; }

/* predictive */
#unPredictiveNew.unVisible, #unPredictiveNew1.unVisible {
	display: block;
}

#unPredictiveNew, #unPredictiveNew1{
	display: none;
	position: relative;
	margin-top: 1px;
}

#unPredictiveNew .unContainer, #unPredictiveNew1 .unContainer {
	position: absolute;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.45);
	-moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.45);
	box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.45);
}

#unPredictiveNew.unVisible .unContents, #unPredictiveNew1.unVisible .unContents {
	border: 1px solid #ddd;
}

#unPredictiveNew .unContainer *, #unPredictiveNew1 .unContainer * {
	font-size: 10px;
}

#unPredictiveNew .unToScroll, #unPredictiveNew1 .unToScroll {
	margin-top: -1px;
}

#unPredictiveNew .unEntry, #unPredictiveNew1 .unEntry {
	margin-bottom: -1px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#unPredictiveNew .unEntry .unContent, #unPredictiveNew1 .unEntry .unContent {
	padding: 10px 5px;
	cursor: pointer;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	border-top: 1px solid #fff;
}
/* predictive */

/* hub pages*/
.commonListingLink {
	display: block;
	padding: 10px;
	border: 1px solid #da1d2e;
	background: #da2128;
	background: #da2128 -webkit-gradient(linear, 0% 0%, 0% 90%, from(#da2128), to(#ea3d43));
	background: #da2128 -moz-linear-gradient(top, #da2128, #ea3d43);
	background: #da2128 -ms-linear-gradient(top, #da2128 0%, #ea3d43 100%);
	color: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.2px;
	font-family: MYFONT;
}

.description{
	font-size: 12px;
	color: #999;
}

.description10{
	font-size: 10px;
	color: #999;
}

.pdpLineOnImg {
	height: 3px;
	position: absolute;
	bottom: 13px;
	opacity: 0.9;
}
.pdpTextOnImg {
	position: absolute;
	bottom: 13px;
	left: 10px;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	opacity: 0.9;
}

.BgPdpImg0, .BgPdpImg4, .BgPdpImg8, .BgPdpImg12 {
	background: #749dd2;
}

.BgPdpImg1, .BgPdpImg5, .BgPdpImg9, .BgPdpImg13 {
	background: #8c8fc6;
}

.BgPdpImg2, .BgPdpImg6, .BgPdpImg10, .BgPdpImg14 {
	background: #b361a6;
}

.BgPdpImg3, .BgPdpImg7, .BgPdpImg11, .BgPdpImg15 {
	background: #ea9898;
}

.endsBoxPromo{
	background-color: #FED831;
	border: 1px solid #e5dbc1;
	padding: 5px 15px;
	font-weight: bold;
	color: #000;
}

.removeDivContent{
	border: 1px solid #73dcfc;
	background: #65cdf0;
	background: #65cdf0 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65cdf0), to(#73dcfc));
	background: #65cdf0 -moz-linear-gradient(top, #65cdf0, #73dcfc);
	background:  -ms-linear-gradient(top, #65cdf0 0%, #73dcfc 100%);
	color: #fff;
}

.downloadPdf{
	text-decoration: underline !important;
	font-weight: bold;
}

.tableOver {
	width: 47%;
}

body[landscape] .tableOver {
	width: 39%;
}
/* hub pages*/

.formStyle{
	background-color: #FFF5DA;
	border-top: 1px solid #e8dfc5;
	border-left: 1px solid #e8dfc5;
	border-right: 1px solid #e8dfc5;
	box-shadow: 0px 0px 6px #888888;
	padding: 10px 10px 0px 10px;
}

/* price grid */

.play360{
	width: 100px; 
	position: absolute; 
	bottom: 26%; 
	left: 33%
}
/*BTLNSMM-843*/
body[landscape] .play360{
	bottom: 39%; 
	left: 40%
}

/*BTLNSMM-1016*/
.play3602{
	width: 100px; 
	position: absolute; 
	bottom: 35%; 
	left: 37%
}

.priceGridBox {
	border: 2px solid #e0e0e0;
}

.bestPriceBox {
	border: 2px solid #f88810;
}

.bestPriceTitle {
	background: #f88810;
	color: #fff;
	padding: 5px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}

.nightsBoxTitle{
	background: #60cdf2;
	color: #fff;
	padding: 5px;
}
.nightsBoxTitle div{
	font-size: 14px;
	font-weight: 500;
}

.buttonsDubleRowRed{
	border: 1px solid #ea3d43;
	background: linear-gradient(to bottom, #da2128 0%, #ea3d43 100%);
	border-radius:0;
	color: #fff !important;
	display: block;
	font-weight: bold;
	font-size: 12px;
	height: 28px;
	line-height: 15px;
	margin:0;
	padding: 5px;
	text-align: center;
	vertical-align:middle;
	-webkit-appearance: none;
	text-transform:uppercase;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	text-decoration: none;
}

.buttonsDubleRowYellow{
	background: #FED831;
	border: 1px solid #e0e0e0;
	border-radius:0;
	color: #fff !important;
	display: block;
	font-weight: bold;
	font-size: 12px;
	height: 28px;
	line-height: 15px;
	margin:0;
	padding: 5px;
	text-align: center;
	vertical-align:middle;
	-webkit-appearance: none;
	text-transform:uppercase;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	text-decoration: none;
}

.priceTopButtons, .priceTopButtons .slide{
	background: #effafc;

}

.priceTopButtons div.child{
	color: #60cff3;
	letter-spacing: -1.2px;
	font-family: MYFONT;
	padding: 13px 10px 7px 10px;
}

.priceTopButtons a.child{
	color: #effafc !important;
	text-decoration: none;
	padding: 10px;
	display: block;
}


.priceTopButtons .child.next:after {
	background: url(/h5/images/Blue_Chevron.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: right;
	height: 16px;
	width: 7px;
}

.priceTopButtons .child.prev:before {
	background: url(/h5/images/Blue_Chevron_back.w_1431016431000hc.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	content: "";
	display: block;
	float: left;
	height: 16px;
	width: 7px;
}

#un-grid-overlay {
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, .7);
	width: 100%;
	min-height: 200px;
}

/*myAccount*/
.myAccountTitle h1, .myAccountTitle h3 {
	font-family: MYFONT;
	font-size: 12px;
	line-height: 14px;
	color: #5C5E5F;
	border-bottom: 0px;
	margin-bottom: 0px;
}
.myAccountTitle h3 .un-highlight, .myAccountTitle h3 .un-highlight * {
	color: #CC0017;
	font-family: MYFONT;
	font-size: 12px;
	line-height: 14px;
}

.myAccountTitle{
	padding: 12px 10px 8px 10px;
}

.myDetails h1{color: #5C5E5F !important;}
.detailsBlock h1, .detailsContent div.gray, .myDetails p, .myDescription, .myDescription a, .grayLabel label{color: #999999;}

input[type="checkbox"] {
    -webkit-appearance : none !important;
    display:inline-block;
    width:28px;
    height:28px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url(/h5/images/checkbox.w_1431016431000hc.png) left top no-repeat;
    background-size: 28px;
    border:0px;
    cursor:pointer;
    border-radius: 0px;
	-webkit-border-radius: 0px;
}
input[type="checkbox"]:checked {
    background: url(/h5/images/checkbox-selected.w_1431016431000hc.png) left top no-repeat;
    background-size: 28px;
}
input[type="radio"] {
    -webkit-appearance : none !important;
    display:inline-block;
    width:28px;
    height:28px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url(/h5/images/InactiveSelection.w_1431016431000hc.png) left top no-repeat;
    background-size: 28px;
    border:0px;
    cursor:pointer;
}
input[type="radio"]:checked {
    background: url(/h5/images/ActiveSelection.w_1431016431000hc.png) left top no-repeat;
    background-size: 28px;
}

.myGroup {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.myGroup > li {
  display: table-cell;
  float: none;
  width: 1%;
  vertical-align: top;
}

.myGroup > li:first-child:not(:last-child) {
  	text-align: left;
}

.myGroup > li:last-child:not(:first-child) {
  	text-align: right;
}

.myGroup > li:not(:first-child):not(:last-child) {
  	text-align: center;
  	padding-left: 5px;
  	padding-right: 5px;
}

.slider {
    background: none repeat scroll 0 0 #77a8bd;
    box-shadow: 1px 2px 2px #33809a inset;
    height: 5px;
    margin: 15px 0px;
    position: relative;
    width: 90%;
}

.slider-radio {
    background: none repeat scroll 0 0 #77a8bd !important;
    border-radius: 100%;
    box-shadow: 0 4px 2px #33809a inset;
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
}
.slider-radio:checked {
    background: radial-gradient(circle, #89cbdb, #2d6177) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 10px solid #f3f5f0;
    box-shadow: 0 0 1px 1px #b7b7b7;
    padding: 5px;
    top: -13px;
}

.inputToLink{
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000;
	text-decoration: underline;
	text-transform: none;
	font-weight: normal;
	letter-spacing: normal;
}

.inputToLink:hover{
	background: transparent;
}

.myPaymentDue{
	background: #fff5d2;
	padding: 10px;
}

.myPaymentInfo{
	background: #effafc;
	padding: 10px;
	color: #61ccef;
}

.myShadow{
	box-shadow: 0px 0px 6px #999;
}
