.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}

* html .clearfix {
	zoom: 1;
}

:first-child+html .clearfix {
	zoom: 1;
}

html.popup-visible,
body.popup-visible {
	overflow: hidden;
	position: fixed;
}

.modal {
	text-align: center;
	position: fixed;
	z-index: 500001;
	padding: 0px;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
	background-color: rgba(230, 230, 230, 0.8);
}

.modal-content {
	text-align: center;
	position: fixed;
	z-index: 500002;
	background-color: rgb(254, 254, 254);
	margin-right: inherit;
	margin-bottom: inherit;
	margin-left: inherit;
	width: 90%;
	height: 500px;
	left: 5%;
	top: 50%;
	margin-top: -250px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
	border-radius: 4px;
	padding: 25px 30px;
	box-sizing: border-box;
}

.modal-content ul li,
.modal-content .UNErrorColor {
	text-align: left;
}

.modal-content ul {
	margin-bottom: 6px;
}

.modal-content ul li {
	margin-bottom: 3px;
}

.modal-content .UNPadTop.UNErrorColor {
	padding-top: 0px;
}

.modal-content .UNPadBottom {
	margin-bottom: 3px;
}

.modal-content .thank_you-pop {
	display: none;
}

.modal-content .thank_you-pop .promo-code {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.15em;
	padding: 5px;
}

.modal-content .thank_you-pop small {
	font-size: 10px;
	font-style: italic;
}

.modal-content.form-submited {
	height: 165px;
	margin-top: -82px;
}

.modal-content.form-submited .m-desc {
	padding: 0px 25px;
}

.modal-content.form-submited .thank_you-pop {
	display: block;
}

.modal-content.only-v1 {
	height: 190px;
	margin-top: -95px;
}

.modal-content.only-v1 .step-2 {
	display: none;
}

.modal-content .field-form {
	margin-bottom: 10px;
}

.modal-content .m-title {
	font-family: MYFONT;
	color: rgb(221, 38, 45);
	font-size: 1.6em;
	line-height: 160%;
}

.modal-content .m-desc {
	line-height: 140%;
	color: rgb(101, 101, 101);
	font-size: 12px;
	margin: 5px 0px;
}

.modal-content input[type="text"],
.modal-content input[type="email"] {
	border: 1px solid rgb(153, 153, 153);
	border-radius: 3px;
	padding: 0px 5px;
}

.modal-content input[type="submit"] {
	margin-top: 15px;
	font-size: 1.5em;
	padding: 0px 5px;
}

.modal-content form {
	padding-top: 10px;
}

.modal-content form .user-type li,
.modal-content form .modal-email-copy,
.modal-content form .modal-email {
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: 0.1em;
}

.modal-content form .user-type li {
	font-size: 1em;
}

.modal-content form .title-user {
	margin-top: 10px;
}

.modal-content form select.select-type,
.modal-content form .modal-email-copy {
	display: none;
	margin-top: 5px;
}

.modal-content form select.select-type.possible-error,
.modal-content form .modal-email-copy.possible-error {
	display: block;
}

.modal-content form .extra-links {
	text-align: left;
	padding-top: 5px;
}

.modal-content form .extra-links a {
	color: rgb(136, 136, 136);
	text-decoration: underline;
}

.modal-content form .extra-links .align-right {
	float: right;
}

.modal-content form label {
	width: 100%;
	text-align: left;
}

.modal-content form .user-type li {
	display: block;
	margin-right: 4%;
	width: 22%;
	border: 1px solid rgb(153, 153, 153);
	border-radius: 3px;
	line-height: 38px;
	float: left;
	height: 38px;
	box-sizing: border-box;
	color: rgb(153, 153, 153);
}

.modal-content form .user-type li.active {
	color: rgb(0, 0, 0);
	background: rgb(195, 195, 195);
}

.modal-content form .user-type li:last-child {
	margin-right: 0px;
}

#modal-feedback {
	display: none;
}

.closeModal {
	color: rgb(0, 0, 0);
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 22px;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
}

.closeModal:hover,
.closeModal:focus {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.modal-content .loader {
	margin: 15px auto 0px;
	display: none;
	max-width: 100%;
	width: 100%;
	position: relative;
	height: 100%;
	padding-top: 25px;
}

.modal-content .loader .u_loading-logo {
	margin-top: 0px;
}

@-webkit-keyframes ball-pulse-sync {
	33% {
		transform: translateY(10px);
	}
	66% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes ball-pulse-sync {
	33% {
		transform: translateY(10px);
	}
	66% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.ball-pulse-sync>div:nth-child(1) {
	animation: ball-pulse-sync 0.6s ease-in-out -0.14s infinite;
}

.ball-pulse-sync>div:nth-child(2) {
	animation: ball-pulse-sync 0.6s ease-in-out -0.07s infinite;
}

.ball-pulse-sync>div:nth-child(3) {
	animation: ball-pulse-sync 0.6s ease-in-out 0s infinite;
}

.ball-pulse-sync>div {
	background-color: rgb(221, 38, 45);
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	animation-fill-mode: both;
	display: inline-block;
}

@media (max-width: 345px) {
	.modal-content {
		padding: 15px 20px;
		height: 425px;
		margin-top: -212px;
	}
	.modal-content.form-submited {
		height: 140px;
		margin-top: -70px;
	}
	.modal-content.only-v1 {
		height: 160px;
		margin-top: -80px;
	}
	.modal-content .m-title {
		font-size: 1.5em;
	}
	.modal-content .textfield {
		height: 32px;
	}
	.modal-content .m-desc {
		font-size: 11px;
	}
	.modal-content input[type="submit"] {
		margin-top: 5px;
		font-size: 1.3em;
		height: 37px;
		line-height: 37px;
	}
	.modal-content form .modal-email-copy,
	.modal-content form .modal-email {
		font-size: 0.9em;
		padding: 4px;
	}
	.modal-content form .user-type li {
		font-size: 0.9em;
	}
	.modal-content form .title-user {
		margin-top: 0px;
	}
}

.modal-content,
.modal-content * {
	translate3d(0px, 0px, 0px);
}
